.ysds-button {
    background: $red;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-weight: 800;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $red;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px 15px 5px;
    white-space: nowrap;

    &.big {
        font-size: 17px;
        padding: 18px 37px 13px;
        &.lines {
            color: $red;
            background: none;
            &.white {
                color: white;
                border: 1px solid white;
            }
        }
    }

    &.lines {
        color: $red;
        background: none;
        &.white {
            color: white;
            border: 1px solid white;
        }
    }
    
}