@font-face {
    font-family: Helvetica-Neue-Condensed;
    src: url(../fonts/HelveticaNeueLTPro-BdCn.otf);
}

@font-face {
    font-family: Helvetica-Neue-Roman;
    src: url(../fonts/HelveticaNeueLTPro-Roman.otf);
}

@font-face {
    font-family: Helvetica-Neue-Bd;
    src: url(../fonts/HelveticaNeueLTPro-Bd.otf);
}

* {
    font-family: sans-serif;
    font-family: Helvetica-Neue-Bd;
}

h1 {
    font-size: 38px;
    line-height: 129%;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 3px;
    font-family: Helvetica-Neue-Condensed;
    font-weight: normal;
    @media screen and (min-width: $small) {
        font-size: 40px;
    }
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 133%;
    margin: 0;
    margin-bottom: 6px;
    font-family: Helvetica-Neue-Condensed;
    font-weight: normal;
    @media screen and (min-width: $small) {
        font-size: 30px;
    }
}

h3 {
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: Helvetica-Neue-Condensed;
    font-weight: normal;
}

h4 {
    margin: 0;
    font-family: Helvetica-Neue-Condensed;
    font-weight: normal;
}

h5 {
    font-family: Helvetica-Neue-Condensed;
    font-weight: normal;
}

p, a, li, div {
    font-weight: 200;
    font-size: 16px;
    line-height: 160%;
    font-family: Helvetica-Neue-Roman;
}

a {
    color: $red;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul, ol {
    padding-left: 20px;
    margin: 0;
}

ul {
    list-style: none;
    li::before {
        content: "\2022";
        color: $red;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }
}

ol li {
    margin-bottom: 10px;
}