.cards {
    .main {
        position: relative;
    }
    .main-inner {
        display: flex;
        flex-wrap: wrap;
        margin: $margin;
        @media screen and (min-width: $small) {
            width: calc(100% + 20px);
            padding: 0 6.25%;
        }
        .one-card {
            margin-bottom: 40px;
            min-width: 250px;
            @media screen and (min-width: $small) {
                margin-right: 20px;
                flex: 1;
            }
            img {
                height: 200px;
                background: $blue;
                width: 100%;
                object-fit: cover;
            }
            h3 {
                border-bottom: 1px solid $red;
                padding-bottom: 10px;
                margin-bottom: 12px;
            }
        }
    }
}