.cards  {
    &.alternative {
        background: $blue;
        .main {
            padding-top: 100px;
            padding-bottom: 50px;
            margin: 0 auto;
            h2 {
                color: white;
            }
            .one-card .text-container {
                padding: 28px 15px 20px;
            }
        }
    }
    .main {
        position: relative;
        margin: 100px auto 50px;
        h2 {
            margin-left: 6.25%;
        }
        .line {
            height: 1px;
            background: $red;
            position: relative;
            margin-bottom: 50px;
        }
    }
    .main-inner {
        display: flex;
        flex-wrap: wrap;
        padding: 0 6.25% 0;
        @media screen and (min-width: $small) {
            width: calc(100% + 20px);
        }
        .one-card {
            margin-bottom: 50px;
            text-decoration: none;
            color: black;
            background: white;
            @media screen and (min-width: $small) {
                margin-right: 20px;
                width: calc(50% - 20px);
            }
            @media screen and (min-width: $medium) {
                width: calc(25% - 20px);
            }
            img {
                height: 160px;
                background: $red;
                width: 100%;
                object-fit: cover;
                @media screen and (min-width: $small) {
                    height: 200px;
                }
            }
            .text-container {
                padding: 28px 0px 0px;
            }
            h3 {
                border-bottom: 1px solid $red;
                padding-bottom: 10px;
                margin-bottom: 12px;
                margin-top: 0;
            }
        }
        &.three {
            .one-card {
                @media screen and (min-width: $medium) {
                    width: calc(33.3333% - 20px);
                }
            }
        }
    }
}