.check-list {
    .main-inner {
        margin: $margin;
        text-align: center;
        padding: 0 6.25%;
        @media screen and (min-width: $medium) {
            padding: 0 12.5%;
        }
        h2 {
            margin-bottom: 50px;
        }
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -40px;
            justify-content: space-evenly;
            @media screen and (min-width: $small) {
                width: calc(100% + 50px);
            }
            .bullet {
                display: flex;
                width: 100%;
                margin-bottom: 40px;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @media screen and (min-width: $small) {
                    max-width: calc(33.333% - 50px);
                    margin-right: 50px;
                }
                .check-mark {
                    margin-bottom: 8px;

                    i {
                        font-size: 62px;
                    }
                }
                .text-container {
                    padding: 15px;
                    h3 {
                        margin: 0;
                    }
                    p:first-of-type {
                        margin-top: 2px;
                    }
                    p:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            &.dark {
                h3 {
                    color: $primary-color;
                }
            }
        }
    }
}
