.header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100;
    .logo {
        height: 40px;
        width: 100px;
        background:white;
    }
    .menu-container.desktop {
        height: 100%;
        padding: 0;
        padding-top: 5px;
        display: none;
        @media screen and (min-width: $medium) {
            display: flex;
        }
        li {
            height: 100%;
            &:before {
                display: none;
            }
            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-size: 14px;
                display: block;
                margin: 0 10px;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
            }
            &.has-children a {
                &:after {
                    content: '\25BC';
                    position: absolute;
                    bottom: -13px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $red;
                    z-index: 5;
                    display: none;
                    bottom: -20px;
                }
            }
            &:hover a {
                text-decoration: underline;
            }
            &.has-children:hover {
                > a {
                    &:after {
                        display: block;
                    }
                }
                .sub-menu {
                    display: flex;
                }
            }
            .sub-menu {
                width: 100%;
                position: absolute;
                background: #131313;
                left: 0;
                top: 70px;
                padding: 30px;
                display: flex;
                justify-content: center;
                border-top: 1px solid $red;
                display: none;
                .sub-menu-list {
                    margin: 0 20px;
                }
                h5 {
                    color: white;
                    margin: 0;
                    border-bottom: 1px solid white;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 1.5px;
                    font-family: Helvetica-Neue-Roman;
                }
                ul {
                    padding: 0;
                    padding-top: 10px;
                    li a {
                        margin: 4px 0;
                        text-transform: none;
                        font-size: 13px;
                        text-decoration: none;
                        &:after {
                            display: none;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .menu-container.mobile {
        position: absolute;
        top: 70px;
        left: 0;
        background: #131313;
        color: white;
        width: 100%;
        padding: 50px;
        height: calc(100vh - 70px);
        overflow-y: scroll;
        display: none;
        @media screen and (min-width: $medium) {
            display: none;
        }
        ul {
            padding: 0;
        }
        li {
            &:before {
                display: none;
            }
            &.has-children a {
                &:after {
                    content: '\25BC';
                    position: absolute;
                    color: $red;
                    font-size: 14px;
                    margin-left: 10px;
                }
            }
            a {
                color: white;
                text-decoration: none;
                font-size: 21px;
                margin: 17px 0;
                display: block;
            }
            .sub-menu {
                padding-left: 20px;
                display: none;
                .sub-menu-list {
                    margin-bottom: 30px;
                    li a {
                        font-size: 15px;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        h5 {
            margin: 0;
            border-bottom: 1px solid white;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1.5px;
            font-family: Helvetica-Neue-Roman;
            margin-top: 30px;
        }
    }

    .ysds-button {
        display: none;
        @media screen and (min-width: $medium) {
            display: block;
        }
    }

    .hamburger {
        width: 40px;
        height: 34px;
        position: absolute;
        top: 18px;
        right: 15px;
        background-image: url(../../images/hamburger.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: $medium) {
            display: none;
        }
    }
}