.hero {
    position: relative;
    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: top;
        background-size: cover;
        filter: saturate(0.5);
    }
    .main {
        position: relative;
        background-color: rgba(0,0,0,0.7);
    }
    .triangle {
        background: $blue;
        clip-path: polygon(0 0, 25% 0, 37.5% 100%, 0% 100%);
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .main-inner {
        color: white;
        padding: 150px 0;
        margin: 0 12.5%;
        @media screen and (min-width: $medium) {
            width: $four-col;
        }
        h1 {
            position: relative;
            @media screen and (min-width: $small) {
                font-size: 56px;
                line-height: 108%;
            }
        }
        h2 {
            font-size: 21px;
            font-family: Helvetica-Neue-Roman;
            margin-top: 19px;
            line-height: 143%;
            position: relative;
            text-transform: none;
            font-weight: 100;
        }
        .ysds-button {
            margin-top: 20px;
            position: relative;
        }
    }
    .line {
        height: 1px;
        background: $red;
        margin-left: -$one-col;
        position: absolute;
    }
}